<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.facebook.com/dan.bugnar">
                       Dan Bugnar
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenta
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, <a href="#">Universitatea Tehnica Cluj-Napoca</a>
        </div>
    </div>
</footer>
